# Top Level
SRC = src
BUILD = build/${ARCH}_${PLATFORM}

# Clash/GHC Settings
CLASH_OUT = ${BUILD}/clash
CLASH_ODIR = ${CLASH_OUT}/o
CLASH_HIDIR = ${CLASH_OUT}/hi
CLASH_ENTITY_NAME = TopLevel
HDL_PRIMITIVES = ${SRC}/hdl/primitives

# VHDL Settings
GLOBAL_VHDL = ${SRC}/hdl/global
TOPLEVEL_ENTITIES = ${SRC}/TopLevel
TOPLEVEL_HS_FILE = Main.hs
ENTITY_CONFIG_SETTINGS = Config.hs
VHDL_CLOCKS = ${SRC}/xilinx/clocks

# GHDL Settings
GHDL_OUT = ${BUILD}/ghdl

# Resources
TILE_MAP = ${SRC}/Resources/ROM/Tiles/TileMap.hs
FPGA_CONSTRAINTS = ${SRC}/Resources/PipistrelloConstraints.hs

# VM Settings
VM_ROOT = /vagrant
VM_BUILD = ${VM_ROOT}/build/${ARCH}_${PLATFORM}
VM_XILINX_OUT = ${VM_BUILD}/xilinx

# Xilinx Settings
XILINX_OUT = ${BUILD}/xilinx
XILINX_SETTINGS = /xilinx/14.7/ISE_DS/settings64.sh
XILINX_PART = xc6slx45-csg324-3
XST_OPT = ${XILINX}/14.7/ISE_DS/ISE/xilinx/data/xst_vhdl.opt
XFLOW_FAST = ${XILINX}/14.7/ISE_DS/ISE/xilinx/data/fast_runtime.opt
XFLOW_BITGEN_OPT = ${XILINX}/14.7/ISE_DS/ISE/xilinx/data/bitgen.opt

# FPGA Programming
FPGAPROG = /xilinx/fpgaprog
FPGA_BURNER = /xilinx/fpgaprog-linux/src/bscan_spi_lx45_csg324.bit