# Build Paths
BUILD_DIR = build/${ARCH}_${PLATFORM}
CLASH_OUT = ${BUILD_DIR}/clash

# Sources
CLASH_SRC = src

# Clash/GHC Settings
CLASH_ODIR = ${CLASH_OUT}/o
CLASH_HIDIR = ${CLASH_OUT}/hi
CLASH_INCLUDES = ${CLASH_SRC}

CLASH_TOPENTITIES = ${CLASH_SRC}/NDP/Entity

# ROMs
TILE_MAP = src/Resources/ROM/Tiles/TileMap.hs